{% if  username != ""%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f4f4f4; /* Color de fondo */
      padding: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2 class="text-center">¡Bienvenido!</h2>
    <p class="text-center">Gracias por iniciar sesión.</p>
    <div class="text-center">
      <form action="{% url 'user_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" >Cerrar Sesión</button>
    </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endif %}

